=flex
  display: flex

  
=flexvcenter
  display: flex
  align-items: center

  
=flexhcenter
  display: flex
  justify-content: center
  
  
=flexvhcenter
  display: flex
  justify-content: center
  align-items: center

  
=bgcovercenter
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  

=bgcontain
  background-size: contain
  background-position: center center
  background-repeat: no-repeat
  
  
=no-borders
  margin-left: rem(-30)
  margin-right: rem(-30)
  
  
=square($size)
  width: rem($size) 
  height: rem($size)

  
// hide visually - visible for screen readers 
=vh
  border: 0
  clip: rect(0 0 0 0)
  -webkit-clip-path: inset(50%)
  clip-path: inset(50%)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  white-space: nowrap
