.about {
    @include breakpoint(medium) {
        padding-top: 13px;
        margin-bottom: 6px;
    }

    @include breakpoint(large) {
        padding-top: 5px;
        margin-bottom: 15px;
    }

    &__border {
        padding-left: $padding-left;
        padding-right: $padding-right;
    }

    &__container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    &__block {
        background-color: white;
        padding-left: 33px;
        padding-right: 33px;
        padding-top: 28px;
        margin-bottom: 8px;

        @include breakpoint(medium) {
            padding-top: 0px;
            padding-left: 41px;
            margin-bottom: 11px;
        }

        @include breakpoint(large) {
            padding-top: 0px;
            padding-left: 50px;

        }
    }

    &__col-one {
        @include breakpoint(medium) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

        }

        @include breakpoint(large) {
            margin-bottom: 27px;

        }
    }

    &__col-two {
        @include breakpoint(medium) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__box-left {
        @include breakpoint(medium) {
            width: 44%;
            padding-top: 38px;
        }

        @include breakpoint(large) {
            width: 44%;
            padding-top: 48px;
        }
    }

    &__box-right {
        margin-right: -32px;
        margin-left: -32px;
        height: 380px;
        background-image: url(~img/nature.jpg);
        background-size: cover;

        @include breakpoint(small2) {
            background-image: url(~img/nature-big.jpg);
        }

        @include breakpoint(medium) {
            width: 55%;  
        }

        @include breakpoint(large) {
            width: 51.75%;
            height: 348px;
          
        }
    }


    &__title {
        color: $background-color;
        font-family: $font-family;
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 600;
        letter-spacing: 0.005px;

        @include breakpoint(medium) {
            font-size: 24px;
        }

        @include breakpoint(large) {
            font-size: 36px;
            margin-bottom: 30px;
        }
    }

    &__subtitle {
        color: $background-color;
        line-height: 1.5;
        font-family: $font-family-two;
        margin-bottom: 22px;

        @include breakpoint(large) {
            line-height: 1.8;
        }
    }

    &__btn-box {
        margin-bottom: 30px;

        a {
            display: flex;
            align-content: center;
        }

        p {
            color: orange;
            text-transform: uppercase;
            font-family: $font-family-two;
            font-weight: 700;
            font-size: 14px;
            margin-right: 23px;

            @include breakpoint(medium) {
                margin-right: 18px;
            }
        }
    }

    &__arrow {
        height: 15px;
        background-image: url(~img/arrow-orange.png);
        width: 20px;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpoint(medium) {
            background-image: url(~img/arrow-right.png);
        }
    }

    &__tile {
        background-color: white;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10px;

        @include breakpoint(medium) {
            width: 32%;
            padding-top: 17px;
        }
    }

    &__tile:nth-last-of-type(2) {
        @include breakpoint(large) {
            margin-right: 15px;
            margin-left: 15px;
        }
    }

    &__number {
        width: 100%;
        font-size: 60px;
        font-family: $font-family;
        text-align: center;
        color: $background-color;
        margin-bottom: 4px;

        @include breakpoint(large) {
            font-size: 70px;
            margin-bottom: 0px;
        }
    }

    &__text {
        font-family: $font-family-two;
        color: $background-color;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        justify-content: center;
        font-weight: 800;
        font-size: 15px;
        line-height: 1.25;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        height: 50px;
        text-align: center;

        @include breakpoint(medium) {
            padding-left: 30px;
            padding-right: 30px;
        }

        @include breakpoint(large) {
            padding-left: 30px;
            padding-right: 30px;
            font-size: 20px;
            position: relative;
            bottom: 4px;

        }
    }

    &__base {
        background-color: orange;
        height: 2px;
        width: 60px;
        margin-bottom: 30px;
    }

}