.apartments {
    @include breakpoint(medium) {
        margin-bottom: 10px;
    }

    &__border {
        padding-left: 21px;
        padding-right: 21px;
    }

    &__box {
        margin-top: -117px;

        @include breakpoint(medium) {
            display: flex;
            margin-top: -111px;
        }

        @include breakpoint(large) {
            display: flex;
            margin-top: -124px;
        }

    }

    &__container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    &__tile {
        height: 180px;
        padding-top: 30px;
        padding-left: $padding-left + 9px;
        padding-right: $padding-right;
        z-index: 10;

        @include breakpoint(medium) {
            height: 314px;
            width: 33.33%;
            padding-left: $padding-left + 11px;
            padding-right: $padding-right;
        }

        @include breakpoint(large) {
            height: 550px;
            padding-top: 40px;
            padding-left: 50px;
            padding-right: 50px;

        }
    }

    &__tile-title {
        font-family: $font-family;
        color: white;
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 0.3px;
        line-height: 1.15;
        margin-bottom: 13px;

        @include breakpoint(large) {
            font-size: 30px;
            font-weight: 600;
        }

    }

    &__tile-subtitle {
        letter-spacing: 0.3px;
        color: white;
        font-size: 16px;
        font-family: $font-family;
    }

    &__tile--one {
        background-repeat: no-repeat;
        background: rgba(26, 28, 36, 0.95);
        background-position: right;
        background-size: cover;
        position: relative;
    }

    &__tile--two {
        position: relative;
        background: rgba(26, 28, 36, 0.95);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }


    &__tile--three {
        background: rgba(26, 28, 36, 0.95);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        position: relative;
    }

    &__tile--one::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(~img/block-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: .85;
    }

    &__tile--two::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(~img/block-2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: .85;
    }

    &__tile--three::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(~img/block-3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: .85;
    }
}