.break {

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__border {
        padding-left: $padding-left;
        padding-right: $padding-right;
    }

    &__container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    &__base {
        height: 1px;
        width: 20%;
        background-color: rgb(194, 185, 185);

        @include breakpoint(medium) {
            width: 37.5%;
        }

        @include breakpoint(large) {
            width: 42.5%;
        }
    }

    &__logo {
        background-position: center;
        background-repeat: no-repeat;
    }

    &__logo--one {
        background-image: url(~img/logo-ocean.png);
        height: 90px;
        width: 140px;
        left: 0px;

        @include breakpoint(medium) {
            height: 89px;
            width: 83px;
            background-size: contain;
        }

        @include breakpoint(large) {
            height: 112px;
            width: 102px;
        }
    }

    &__logo--two {
        background-image: url(~img/dotdot.png);
        height: 57px;
        width: 140px;

        @include breakpoint(large) {
            position: relative;
            top: 10px;
            height: 44px;
            width: 43px;
            background-size: contain;
        }
    }
}