.clients {
    padding-top: 8px;
    padding-bottom: 45px;


    @include breakpoint(medium) {
        padding-top: 11px;
        padding-bottom: 60px;
    }

    @include breakpoint(large) {
        padding-top: 60px;
        ;
        padding-bottom: 82px;
    }

    &__container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    &__opinion {
        line-height: 1.5;
        text-align: center;
        font-family: $font-family;
        padding-left: 37px;
        padding-right: 37px;
        margin-bottom: 38px;
        color: #263474;
        font-style: italic;
        font-size: 16.5px;

        @include breakpoint(medium) {
            font-size: 23px;
            line-height: 1.58;
            margin-bottom: 45px;
        }

        @include breakpoint(large) {
            font-size: 28px
        }
    }

    &__data {
        display: none;

        @include breakpoint(medium) {
            display: block;
            font-size: 16px;
            line-height: 1.5;
            font-family: $font-family;
            margin-left: 20px;
            height: 100%;
            width: 76%;
            padding-left: 10px;
            font-family: $font-family;
            color: #263474;
            font-weight: 600;

            @include breakpoint(large) {
                padding-top: 3px;
            }

            span {
                font-weight: 300;
            }
        }
    }

    &__box {
        @include breakpoint(medium) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 33%;
        }
    }

    &__tile{
        display: flex;
        align-items: center;
    }

    &__box:nth-last-of-type(1) {
        @include breakpoint(medium) {
            padding-left: 21px;
        }

        @include breakpoint(large) {
            position: relative;
            left: 15px;
        }
    }

    &__box:nth-last-of-type(2) {
        @include breakpoint(medium) {
            padding-left: 6px;
        }

        @include breakpoint(large) {
            position: relative;
            left: 15px;
        }
    }

    &__box:nth-last-of-type(3) {
        @include breakpoint(medium) {
            padding-left: 17px;
        }
    }


    &__img {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;

        @include breakpoint(large) {
            width: 62px;
            height: 62px;
        }
    }

    &__img:nth-last-of-type(2) {
        margin-left: 13px;
        margin-right: 13px;

        @include breakpoint(medium) {
            margin-right: 0px;
            margin-left: 0px;
        }
    }

    &__img:nth-last-of-type(1) {
        @include breakpoint(medium) {
            margin-right: 0px;
            margin-left: 10px;
        }
    }

    &__action {
        display: flex;
        width: 100%;
        justify-content: center;

        @include breakpoint(medium) {
            justify-content: space-between;
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
        }

        @include breakpoint(large) {
            max-width: 860px;
        }
    }

    &__img--one {
        background-image: url(~img/client-one.png);
        background-size: cover;

    }

    &__img--two {
        background-image: url(~img/client-two.png);
        background-size: cover;
    }

    &__img--three {
        background-image: url(~img/client-three.png);
        background-size: cover;
    }


}