.filter{
    padding-top: 152px;
    margin-bottom: 20px;

    @include breakpoint(medium) {
        padding-top: 146px;
        margin-bottom: 30px;
    }

    @include breakpoint(large) {
        margin-bottom: 13px;
    }

    &__border {
        padding-right: $padding-right;
        padding-left: $padding-left +1px;
    }

    &__container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        font-family: $font-family;
        margin-bottom: 28px;
        color: $color;

        @include breakpoint(medium) {
            font-size: 30px;
            margin-bottom: 26px;
        }

        @include breakpoint(large) {
            font-size: 36px;
            padding-top: 10px;
            letter-spacing: 0.55px;
            margin-bottom: 77px;
        }
    }

    &__row {
        @include breakpoint(medium) {
            display: flex;
            justify-content: flex-start;
        }
    }

    &__subtitle {
        font-size: 16px;
        letter-spacing: 1.38px;
        font-weight: 600;
        font-family: $font-family-two;
        margin-bottom: 30px;
        color: $color;

        @include breakpoint(medium) {
            margin-bottom: 22px;
        }
    }

    &__text {
        font-size: 14px;
        font-family: $font-family-two;
        line-height: 1.74;
        margin-bottom: 25px;
        color: $color;
    }

    &__box {
        background-color: white;
        padding-top: 15px;

        @include breakpoint(medium) {
            padding-top: 12px;
        }
    }



    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 16px;
        width: 100%;
        padding-bottom: 12px;
        border-bottom: 1px solid rgb(221, 221, 221);
        margin-bottom: 14px;

        @include breakpoint(medium) {
            border-bottom: none;
            border-right: 1px solid rgb(221, 221, 221);
            padding-bottom: 0px;
        }
    }

    &__name-box:nth-last-of-type(3) {
        @include breakpoint(medium) {
            width: 34%;
        }
    }

    &__name-box:nth-last-of-type(2) {
        @include breakpoint(medium) {
            width: 38%;
        }
    }

    &__name-box:nth-last-of-type(1) {
        @include breakpoint(medium) {
            width: 31%;
            border-right: transparent;
        }
    }

    &__name-box--last {
        margin-bottom: 0px;
    }

    &__name {
        font-family: $font-family-two;
        color: $color;
        font-weight: 600;
        padding-top: 10px;
        margin-right: 20px;
        height: 45px;
        width: 31%;

        @include breakpoint(medium) {
            width: 25%;
            margin-right: 0px;
        }
    }

    &__name--last {
        width: 43%;

        @include breakpoint(medium) {
            width: 60%;

        }
    }


    &__select-box {
        display: flex;
        justify-content: space-between;
        background-color: rgb(241, 241, 241);
        height: 45px;
        width: 90%;

        @include breakpoint(medium) {
            width: 75%;
        }
    }

    &__select-box--secound {
        @include breakpoint(medium) {
            width: 64%;
        }

    }

    &__select-box--last {
        width: 60%;

        @include breakpoint(medium) {
            width: 42%;
            margin-right: 5px;
        }
    }

    &__discription {
        color: black;
        font-size: 14px;
        font-family: $font-family-two;
        padding-top: 14px;
    }

    &__discription--two {

        padding-left: 25px;
    }

    &__arrow {
        background-image: url(~img/arrow-grey.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 22%;
    }

    &__arrow-three {
        background-position: 5px center;

        @include breakpoint(medium) {
            background-position: 0px center;
        }
    }

    &__logo {
        background-image: url(~img/home-icon.png);
        background-repeat: no-repeat;
        background-position: 19px 15px;
        height: 100%;
        width: 25%;
    }

    &__content:nth-of-type(1) {
        @include breakpoint(large) {
            order: 1;
            width: 32%;
        }
    }

    &__content:nth-of-type(2) {
        width: 100%;

        @include breakpoint(large) {
            order: 3;
        }
    }

    &__content:nth-of-type(3) {
        @include breakpoint(large) {
            order: 6;
        }
    }

    &__box {
        width: 100%;

        @include breakpoint(large) {
            order: 2;
            width: 68%;
            max-height: 67px;
        }
    }
}