.footer {
    background-color: rgb(9, 20, 66);
    padding-top: 43px;

    @include breakpoint(large) {
        padding-top: 60px;
    }

    &__border {
        padding-left: 40px;
        padding-right: 40px;
    }

    &__container {
        position: relative;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    &__box-title {
        color: rgb(100, 112, 162);
        text-transform: uppercase;
        font-size: 14px;
        font-family: $font-family-two;
        margin-bottom: 18px;
        font-weight: 800;

        @include breakpoint(medium) {
            margin-bottom: 37px;
        }
    }

    &__box-title:nth-last-of-type(1) {
        @include breakpoint(medium) {
            margin-bottom: 20px;
        }
    }

    &__box-subtitle {
        color: white;
        font-size: 14px;
        font-family: $font-family-two;
        line-height: 2.1;
    }

    &__box {
        margin-bottom: 34px;

        @include breakpoint(medium) {
            margin-bottom: 43px;
        }

        form {
            display: block;
            padding-top: 10px;
            width: 100%;
        }
    }

    &__box:nth-last-of-type(1) {
        margin-bottom: 15px;

        @include breakpoint(medium) {
            width: 100%;
        }

        @include breakpoint(large) {
            width: 31.7%;
            position: relative;
        }
    }

    &__box:nth-last-of-type(2) {
        @include breakpoint(medium) {
            width: 25%;
            padding-left: 45px;
        }

        @include breakpoint(large) {
            width: 23.5%;
        }
    }

    &__box:nth-last-of-type(3) {
        @include breakpoint(medium) {
            width: 35%;
        }

        @include breakpoint(large) {
            width: 19%;
        }
    }

    &__box:nth-last-of-type(4) {
        @include breakpoint(medium) {
            width: 39%;
        }

        @include breakpoint(large) {
            width: 25.8%;
        }
    }

    &__box-description {
        font-size: 14px;
        color: rgb(100, 112, 162);
        line-height: 1.75;
        padding-right: 90px;
        margin-bottom: 10px;
        font-family: $font-family-two;
        font-weight: 600;

        @include breakpoint(large) {
            padding-right: 70px;
        }

        a {
            color: rgb(100, 112, 162);
        }
    }

    &__description--white a {
        font-weight: 600;
        color: white;
    }

    &__icons-box {
        display: flex;
        padding-top: 5px;

    }

    &__icon {
        margin-right: 5px;
        height: 45px;
        width: 45px;
        background-color: orange;
        margin-bottom: 7px;

    }

    &__icon--one {
        background-image: url(~img/fb.png);
    }

    &__icon--two {
        background-image: url(~img/insta.png);
    }

    &__row {
        display: block;
        width: 100%;

        @include breakpoint(medium) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__input {
        input {
            display: block;
            width: 100%;
            height: 42px;
            border: 1px solid rgb(100, 112, 162);
            background-color: transparent;
            padding-left: 17px;
            margin-bottom: 2px;
            font-size: 14px;
            font-family: $font-family-two;
            color: white;
        }

        ::placeholder {
            color: rgb(100, 112, 162);
            position: relative;
            bottom: 2px;
            font-family: $font-family-two;
        }
    }

    &__textarea {
        @include breakpoint(medium) {
            width: 49%;
            order: 2;
        }

        @include breakpoint(large) {
            width: 100%;
        }

        textarea {
            overflow-x: hidden;
            display: block;
            width: 100%;
            background-color: transparent;
            border: 1px solid rgb(100, 112, 162);
            padding-left: 17px;
            padding-top: 10px;
            min-height: 100px;
            color: white;

            @include breakpoint(medium) {
                min-height: 86px;
            }

            @include breakpoint(large) {
                min-height: 56px;
            }

        }

        ::placeholder {
            color: rgb(100, 112, 162);
            font-size: 14px;
            font-family: $font-family-two;
        }
    }

    &__part-top {
        @include breakpoint(medium) {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 28px;
        }

        @include breakpoint(large) {
            margin-bottom: 5px;
        }
    }

    &__part-bottom {
        display: flex;
        justify-content: center;
        border-top: 1px solid rgb(100, 112, 162);
        padding-top: 18px;
        padding-bottom: 25px;

        @include breakpoint(medium) {
            padding-bottom: 35px;
        }

        @include breakpoint(large) {
            padding-top: 27px;
            padding-bottom: 29px;
        }

    }

    &__title-last {
        color: white;
        font-family: $font-family-two;
        font-size: 14px;
        letter-spacing: 0.05px;
    }

    &__btn-box {
        position: absolute;
        height: 30px;
        bottom: 97px;
        width: 30px;
        right: 6px;

        @include breakpoint(medium) {
            bottom: 128px;
            right: 10px;
        }

        @include breakpoint(large) {
            bottom: 40px;
            right: 5px;
        }
    }

    &__btn {
        background-image: url(~img/icon-airplane.png);
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__input-box {
        @include breakpoint(medium) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 50%;
        }

        @include breakpoint(large) {
            width: 100%;
        }
    }

    &__input:nth-of-type(1) {
        width: 100%;
        order: 1;
    }

    &__input:nth-of-type(2) {
        width: 100%;

        @include breakpoint(medium) {
            position: relative;
            width: 49.5%;
            order: 3;
        }
    }

    &__input:nth-of-type(3) {
        width: 100%;

        @include breakpoint(medium) {
            width: 49.5%;
            order: 4;
        }
    }
}