.gallery {
    margin-bottom: 35px;

    @include breakpoint(medium) {
        margin-bottom: 0px;
    }

    @include breakpoint(large) {
        margin-bottom: 40px;
    }

    &__border {
        padding-left: $padding-left;
        padding-right: $padding-right;
    }

    &__container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    &__tile {
        background-color: white;
        padding-top: 20px;
        padding-bottom: 6px;
        margin-bottom: 14px;

        @include breakpoint(medium) {
            width: 48%;
            padding-top: 29px;
            padding-left: 4px;
            padding-right: 4px;
            margin-bottom: 28px;
        }

        @include breakpoint(large) {
            width: 32%;
            padding-top: 31px;
            padding-left: 6px;
            padding-right: 6px;
            margin-bottom: 30px;
        }
    }

    &__block {
        @include breakpoint(medium) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__img-box {
        position: relative;
        width: 100%;
        height: 205px;
        padding-left: $padding-left;
        padding-right: $padding-right;
        margin-bottom: 19px;
    }

    &__img {
        background-image: url(~img/apart-1.jpg);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__img--two {
        background-image: url(~img/apart-2.jpg);
    }

    &__header {
        position: absolute;
        background-color: rgb(38, 52, 116);
        padding-right: 12px;
        height: 36px;
        display: flex;
    }

    &__header-icon {
        background-image: url(~img/home-icon.png);
        background-repeat: no-repeat;
        background-position: 12px 11px;
        height: 36px;
        background-size: 18px;
        width: 39px;
    }

    &__header-title {
        color: white;
        font-size: 13px;
        font-weight: 600;
        padding-top: 12px;
        font-family: $font-family-two;
    }

    &__arrows-box {
        background-color: rgba(0, 0, 0, 0.37);
        position: absolute;
        height: 40px;
        width: 81px;
        right: 20px;
        bottom: 0px;
        display: flex;
    }

    &__arrow {
        background-image: url(~img/arrow-left-small.png);
        background-repeat: no-repeat;
        background-position: center;
        border-right: 1px solid rgb(182, 182, 182);
        width: 50%;
        height: 100%;
    }

    &__arrow--invert {
        background-image: url(~img/arrow-right-small.png);
    }

    &__info {
        padding-left: $padding-left;
        padding-right: $padding-right;
        margin-bottom: 18px;
    }

    &__info-title {
        color: $color;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.7px;
        margin-bottom: 16px;
        font-family: $font-family;
    }

    &__info-discription {
        color: $color;
        position: relative;
        left: 17px;
        font-family: $font-family-two;
        font-size: 14px;
    }

    &__info-discription::before {
        content: url(~img/marker.png);
        padding-left: 1px;
        position: absolute;
        bottom: 1px;
        height: 15px;
        width: 15px;
        left: -20px;
    }

    &__info--boxes {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3px;

        @include breakpoint(medium) {
            margin-bottom: 8px;
        }
    }

    &__info-box {
        background-color: rgb(235, 237, 241);
        height: 37px;
        display: flex;
        align-items: center;
        margin-right: 9px;
        margin-bottom: 5px;
    }

    &__info-icon {
        background-repeat: no-repeat;
        background-position: 10px center;
        height: 100%;
        width: 32px;
        padding-left: 10px;
    }

    &__info-icon--one {
        background-image: url(~img/icon-bad.png);
    }

    &__info-icon--two {
        background-image: url(~img/metr.png);
    }

    &__info-icon--three {
        background-image: url(~img/person.png);
    }

    &__info-text {
        padding-right: 12px;
        font-family: $font-family-two;
        font-size: 13px;
        position: relative;
        color: $color;
    }

    &__info--btns {
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        background-color: rgb(236, 135, 44);
        height: 40px;
        display: flex;
        justify-content: center;

    }

    &__btn-text {
        padding-top: 12px;
        padding-left: 19px;
        padding-right: 5px;
        font-weight: 600;
        font-family: $font-family-two;
        color: white;
        font-size: 14px;
        letter-spacing: 0.1px;
    }

    &__btn-arrow {
        background-image: url(~img/arrow-right-white.png);
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 42px;
    }

    &__tab {
        display: none;

        @include breakpoint(medium) {
            display: block;
        }
    }

    &__desk {
        display: none;

        @include breakpoint(large) {
            display: block;
        }
    }

    &__btn--white {
        color: $color;
        background-color: white;
        border: 1px solid rgb(214, 214, 214);
        width: 52.5%;
        padding-top: 5px;
        padding-left: 8px;
        font-family: $font-family;
        font-size: 25px;
        font-weight: 800;

        @include breakpoint(medium) {
            width: 44%;
        }

        span {
            font-size: 16px;
            font-weight: 200;
            padding-top: 8px;
            padding-right: 10px;
            padding-left: 6px;
        }
    }




}