.body {
    min-width: 6000px;
}


.header {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    z-index: 50;


    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
    }

    &__logo {
        height: 120px;
        background-color: rgb(38, 52, 115);
        width: 140px;
        left: 0px;
        display: flex;
        justify-content: center;
        padding-top: 25px;
        z-index: 100;
        top:0px;
        position: absolute;

        img {
            height: 70px;
            width: 90px;
        }
    }

    &__reserve-btn {
        display: none;

        @include breakpoint(medium) {
            display: block;
            background-color: rgb(236, 135, 44);
            height: 120px;
            width: 139px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__btn-text {
        font-size: 17px;
        font-weight: 600;
        line-height: 1.25;
        font-family: $font-family-two;
        text-align: center;
        color: white;
    }

    &__term {
        display: none;

        @include breakpoint(medium) {
            display: block;
            background-color: white;
            height: 120px;
            width: 235px;
            right: 139px;
            padding-top: 25px;
            padding-left: 32px;
            font-family: $font-family-two;
        }
    }

    &__text {
        font-size: 13px;
        letter-spacing: 0.1px;
        margin-bottom: 10px;
        font-family: $font-family-two;
    }

    &__term-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 170px;
        height: 47px;
        background-color: rgb(221, 221, 221);
    }

    &__term-icon {
        height: 45px;
        background-position: center left;
        background-image: url(~img/cal.png);
        background-repeat: no-repeat;
        width: 20%;
        margin-left: 15px;
    }

    &__menu {
        display: flex;
        box-shadow: 1px 1px 14px rgb(134, 132, 132);

    }

    &__data {
        font-family: $font-family;
        font-size: 18px;
        position: relative;
        bottom: 4px;
    }
}

.hamburger {
    position: absolute;
    width: 30px;
    height: 3px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: orange;
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: " ";
    position: absolute;
    width: 30px;
    height: 3px;
    background: orange;
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background-color: transparent;
    box-shadow: none;
}

.icon.active .hamburger::before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

aside {
    position: fixed;
    padding-left: 30px;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 30;
    transition: 0.5s linear;

    @include breakpoint(xxlarge) {
        position: absolute;
        height: 120px;
        background-color: transparent;
        z-index: 100;
    }

}

aside.off {
    left: 770px;

    @include breakpoint(medium) {
        left: 1200px;
        overflow: hidden;
    }

    @include breakpoint(large) {
        left: 1600px;
    }

    @include breakpoint(xxlarge) {
        left: 0;
        z-index: 50;
        right:0;
        top:-140px;
    }

}

.index aside.off {
    left: 770px;

    @include breakpoint(medium) {
        left: 1200px;
        overflow: hidden;
    }

    @include breakpoint(large) {
        left: 1600px;
    }

    @include breakpoint(xxlarge) {
        left: 0;
        z-index: 50;
        right:0;
        top:0px;
    }
}

.content {
    position: relative;
    padding: 50px;
    margin-top: 100px;
    font-size: 20px;
    z-index: -1;
}

.index li {
    color: white;

}

.index li:hover {
    color: orange;
}

.index .nav-list {
    margin-top: 250px;
    z-index: 11;
    padding-left: 100px;
    font-size: 30px;
    font-family: $font-family-two;

    @include breakpoint(xxlarge) {
        max-width: 1000px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    
    }


    ul {
        @include breakpoint(xxlarge) {
            display: flex;
            justify-content: flex-start;
            padding-top: 10px;
            padding-left: 60px;
        }
    }


    li {
        margin-bottom: 50px;

        @include breakpoint(xxlarge) {
            margin-bottom: 0px;
        }
    }


    li a {
        margin-bottom: 30px;
        border-bottom: 1px solid transparent;
        color: white;
        font-size: 20px;

        @include breakpoint(xxlarge) {
            font-size: 17px;
            margin-right: 65px;
            font-weight: 600;
            z-index: 100;
            transition: 2s;
            padding-bottom: 5px;
            color: white;
        }
    }

    li a:hover {
        color: white;
        border-bottom: 2px solid orange;
        transition: 1s;
        font-weight: 800;
    }
}

.index .icon {
    position: absolute;
    right: 0px;
    width: 80px;
    height: 100%;
    background-color: white;
    cursor: pointer;

    @include breakpoint(medium) {
        position: absolute;
        left: 140px;
    }

    @include breakpoint(xxlarge) {
        position: absolute;
        display: none;
        left: 140px;
    }
}

.subpage {
    .header__top {
        width: 100vw;
        position: absolute;
        top: 0px;
        height: 84px;
        background-color: rgb(30, 41, 91);
        z-index: -1;
        left: 0px;
    }

    .icon {
        position: absolute;
        right: 0px;
        width: 72px;
        height: 84px;
        top: 0px;
        background-color: rgb(30, 41, 91);
        cursor: pointer;

        @include breakpoint(medium) {
            right: 0px;
        }

        @include breakpoint(xxlarge) {
            display: none;
        }
    }

    .hamburger {
        position: absolute;
        width: 30px;
        height: 3px;
        top: 42px;
        right: 40px;
        transform: translate(-50%, -50%);
        background: orange;
        transition: .5s;
        z-index: 100;

    }

    .header__menu {
        display: none;
    }


    .header__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1170px;
    }


    .nav-list {
        margin-top: 250px;
        z-index: 11;
        padding-left: 100px;
        font-size: 30px;
        font-family: $font-family-two;

        @include breakpoint(xxlarge) {
          
            max-width: 1170px;
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        ul {
            @include breakpoint(xxlarge) {
                position:fixed;
                display: flex;
                justify-content: flex-start;
                padding-top: 0px;
                padding-left: 60px;
                top:20px;
            }
        }

        li {
            margin-bottom: 50px;

            @include breakpoint(xxlarge) {
                margin-bottom: 0px;
            }
        }

        li a {
            margin-bottom: 30px;
            border-bottom: 1px solid transparent;
            color: white;
            font-size: 20px;

            @include breakpoint(xxlarge) {
                font-size: 17px;
                margin-right: 45px;
                font-weight: 600;
                z-index: 100;
                transition: 2s;
                padding-bottom: 5px;
                color: white;
            }
        }

        li a:hover {
            color: white;
            border-bottom: 2px solid orange;
            transition: 1s;
            font-weight: 800;
        }

        .last-item {
            margin-right: 0px;
        }
    }

}

.reservation {
    .header__top {
        width: 100vw;
        position: absolute;
        top: 0px;
        height: 84px;
        background-color: rgb(30, 41, 91);
        z-index: -1;
        left: 0px;
    }

    .icon {
        position: absolute;
        right: 0px;
        width: 72px;
        height: 84px;
        top: 0px;
        background-color: rgb(30, 41, 91);
        cursor: pointer;

        @include breakpoint(medium) {
            right: 0px;
        }

        @include breakpoint(xxlarge) {
            display: none;
        }
    }

    .hamburger {
        position: absolute;
        width: 30px;
        height: 3px;
        top: 42px;
        right: 40px;
        transform: translate(-50%, -50%);
        background: orange;
        transition: .5s;
        z-index: 100;

    }

    .header__menu {
        display: none;
    }


    .header__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1170px;
    }


    .nav-list {
        margin-top: 250px;
        z-index: 11;
        padding-left: 100px;
        font-size: 30px;
        font-family: $font-family-two;

        @include breakpoint(xxlarge) {
            max-width: 1170px;
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }


        ul {
            @include breakpoint(xxlarge) {
                position:fixed;
                display: flex;
                justify-content: flex-start;
                padding-top: 0px;
                padding-left: 60px;
                top:20px;
            }
        }

        li {
            margin-bottom: 50px;

            @include breakpoint(xxlarge) {
                margin-bottom: 0px;
            }
        }

        li a {
            margin-bottom: 30px;
            border-bottom: 1px solid transparent;
            color: white;
            font-size: 20px;

            @include breakpoint(xxlarge) {
                font-size: 17px;
                margin-right: 45px;
                font-weight: 600;
                z-index: 100;
                transition: 2s;
                padding-bottom: 5px;
                color: white;
            }
        }

        li a:hover {
            color: white;
            border-bottom: 2px solid orange;
            transition: 1s;
            font-weight: 800;
        }

        .last-item {
            margin-right: 0px;
        }
    }

}