.hero {
    position: relative;
    background-color: rgba(0, 0, 0, 0.40);
    z-index: -1;

    ::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(~img/hero-img.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: .9;

        @include breakpoint(medium) {
            background-image: url(~img/hero-med.png);
            opacity: .9;
        }

        @include breakpoint(large) {
            opacity: .9;
            background-image: url(~img/hero-main.png);
        }
    }

    &__background {
        position: relative;
        height: 570px;
        width: 100%;

        @include breakpoint(large) {
            height: 900px;
        }
    }

    &__content {
        position: absolute;
        top: 230px;
        z-index: 0;
        background-color: transparent;
        width: 100%;

        @include breakpoint(medium) {
            width: 100%;
            top: 215px;
        }

        @include breakpoint(large) {
            width: 100%;
            top: 334px;
        }

    }

    &__title {
        color: white;
        text-align: center;
        font-family: $font-family;
        font-size: 34px;
        letter-spacing: 0.9px;
        line-height: 1.21;
        font-weight: 800;

        @include breakpoint(medium) {
            font-size: 58px;
            margin-bottom: 12px;
        }
    }

    &__subtitle-box {
        color: white;
        display: flex;
        align-items: center;
        padding-top: 5px;
        display: flex;
        justify-content: center;
        font-family: $font-family-two;
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 1.2px;

        @include breakpoint(medium) {
            font-size: 39px;
        }

        h2 {
            margin-right: 19px;
            margin-left: 19px;

            @include breakpoint(medium) {
                margin-right: 30px;
                margin-left: 30px;
            }
        }
    }

    &__arrow {
        position: relative;
        top: 4px;
        background-color: white;
        height: 2px;
        width: 22px;

        @include breakpoint(medium) {
            width: 35px;
        }
    }
}