.location {
    margin-bottom: 28px;

    @include breakpoint(medium) {
        margin-bottom: 23px;
    }

    @include breakpoint(large) {
        margin-bottom: 70px;
    }

    &__border {
        padding-left: $padding-left;
        padding-right: $padding-right;
    }

    &__container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    &__block {
        @include breakpoint(large) {
            display: flex;
        }

    }

    &__row-one {
        height: 328px;

        @include breakpoint(medium) {
            width: 100%;
            height: 325px;
        }

        @include breakpoint(large) {
            width: 50%;
            height: 583px;
        }

        img {
            height: 100%;
        }
    }

    &__row-two {
        background-color: $background-color;
        padding-left: 30px;
        padding-right: 43px;
        padding-top: 29px;

        @include breakpoint(medium) {
            padding-top: 36px;
            padding-left: 51px;
            padding-bottom: 10px;
        }

        @include breakpoint(large) {
            padding-top: 44px;
            padding-left: 51px;
            padding-bottom: 10px;
            width: 50%;
        }
    }

    &__header {
        border-bottom: 1px solid white;
        margin-left: -30px;
        margin-right: -30px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        color: white;
        padding-left: 30px;
        margin-bottom: 20px;
        font-family: $font-family;

        @include breakpoint(medium) {
            font-size: 30px;
            margin-bottom: 14px;
        }
    }

    &__subtitle {
        padding-left: 30px;
        padding-right: 25px;
        color: white;
        font-size: 15px;
        padding-bottom: 25px;
        line-height: 1.2;
        font-family: $font-family-two;
    }

    &__list {
        padding-top: 25px;

        @include breakpoint(medium) {
            padding-top: 37px;
            columns: 2;
            -webkit-columns: 2;
            margin-bottom: 21px;
            -moz-columns: 2;
        }

        @include breakpoint(large) {
            columns: 1;
        }
    }

    &__list-element {
        position: relative;
        font-size: 14px;
        padding-top: 4px;
        margin-bottom: 27px;
        font-family: $font-family-two;
        padding-left: 40px;

        @include breakpoint(medium) {
            margin-bottom: 22px;
            padding-left: 53px;
        }

        @include breakpoint(large) {
            font-size: 16px;
            margin-bottom: 20px;
            padding-left: 53px;
        }
    }

    &__list-element:nth-last-of-type(1) {
        @include breakpoint(medium) {
            position: relative;
            left: 43px;
        }

        @include breakpoint(large) {
            left: 0px;
        }
    }

    &__list-element:nth-last-of-type(2) {
        @include breakpoint(medium) {
            position: relative;
            left: 43px;
        }

        @include breakpoint(large) {
            left: 0px;
        }
    }

    &__list-element:nth-last-of-type(3) {
        @include breakpoint(medium) {
            position: relative;
            left: 43px;
        }

        @include breakpoint(large) {
            left: 0px;
        }
    }

    &__list-element:nth-last-of-type(4) {
        @include breakpoint(medium) {
            position: relative;
            left: 43px;
        }

        @include breakpoint(large) {
            left: 0px;
        }
    }

    &__list-element::before {
        position: absolute;
        content: "";
        border-radius: 30px;
        left: -0px;
        top: 2px;
        height: 25px;
        width: 25px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    &__list-element:nth-of-type(1)::before {
        position: absolute;
        content: "1";
    }

    &__list-element:nth-of-type(2)::before {
        position: absolute;
        content: "2";
    }

    &__list-element:nth-of-type(3)::before {
        position: absolute;
        content: "3";
        background-color: orange;
        color: white;
    }

    &__list-element:nth-of-type(3) {
        font-weight: 800;
    }

    &__list-element:nth-of-type(4)::before {
        position: absolute;
        content: "4";
    }

    &__list-element:nth-of-type(5)::before {
        position: absolute;
        content: "5";
    }

    &__list-element:nth-of-type(6)::before {
        position: absolute;
        content: "6";
    }

    &__list-element:nth-of-type(7)::before {
        position: absolute;
        content: "7";
    }

    &__list-element:nth-of-type(8)::before {
        position: absolute;
        content: "8";
    }

    &__btn {
        padding-bottom: 27px;

        a {
            display: flex;
            align-items: center;
        }
    }

    &__btn-text {
        color: white;
        font-family: $font-family-two;
        text-transform: uppercase;
        font-size: 14px;
        margin-right: 17px;
    }

    &__arrow {
        background-image: url(~img/arrow-right-white.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        position: relative;
        bottom: 1px;
    }

    &__map {
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;

        @include breakpoint(medium) {
            background-size: cover;
        }
    }
}

