.reservation {
    padding-top: 75px;

    &__border {
        padding-left: $padding-left;
        padding-right: $padding-left;
    }

    &__container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;

        @include breakpoint(large) {
            justify-content: space-between;
        }
    }

    &__title {
        letter-spacing: 0.3px;
        color: $background-color;
        margin-bottom: 46px;
        font-family: $font-family;
    }

    &__col-one {
        width: 100%;
        order: 2;

        @include breakpoint(large) {
            width: 70%;
            order: 1;
        }
    }

    &__box {
        background-color: white;
        margin-bottom: 12px;
        padding-left: $padding-left +11px;
        padding-right: $padding-right +11px;
        border: 2px solid white;
        padding-top: 29px;
    }

    &__box--data {
        margin-bottom: 13px;

        .reservation__block{
            width: 100%;

            @include breakpoint(large) {
                width: 62%;
            }
        }
    }

    &__subtitle {
        font-size: 20px;
        color: $background-color;
        letter-spacing: 0.1px;
        margin-bottom: 26px;
        font-family: $font-family-two;

        @include breakpoint(large) {
            font-size: 21px;
            letter-spacing: 0.0001px;
        }
    }

    &__subtitle--payment {
        margin-bottom: 25px;
    }



    &__textarea {
        display: none;
        resize: vertical;
        overflow: auto;
        max-width: 500px;
        color: rgb(153, 153, 153);
        font-family: $font-family-two;
        border: 1px solid rgb(184, 184, 184);
        font-size: 14px;
        padding-left: 17px;
        padding-top: 17px;
        @include breakpoint(medium) {
            width: 100%;
            order: 2;
        }

        @include breakpoint(large) {
            width: 100%;
        }

        textarea {
            width: 100%;
            background-color: transparent;
            color: rgb(153, 153, 153);
            font-family: $font-family-two;
           
            @include breakpoint(medium) {
                min-height: 86px;
            }
        }

        ::placeholder {
            color: rgb(153, 153, 153);
            font-size: 14px;
            font-family: $font-family-two;
            padding-left: 17px;
            padding-top: 17px;
        }
    }

    &__input-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;

        @include breakpoint(large) {
            width: 100%;
            margin-bottom: 15px;

        }
    }

    &__input-nip {
        display: none;
        margin-bottom: 15px;

        input {
            display: block;
            width: 100%;
            height: 48px;
            color: rgb(153, 153, 153);
            background-color: transparent;
            box-shadow: none;
            padding-left: 17px;
            font-size: 14px;
            font-family: $font-family-two;
            margin-bottom: 2px;
            border: 1px solid rgb(184, 184, 184);
        }

        ::placeholder {
            color: rgb(153, 153, 153);
            position: relative;
            bottom: 0px;
            font-family: $font-family-two;
        }
    }

    &__input-comments {
        display: none;
        margin-bottom: 15px;

        input {
            display: block;
            width: 100%;
            height: 48px;
            color: rgb(153, 153, 153);
            background-color: transparent;
            padding-left: 17px;
            margin-bottom: 2px;
            font-size: 14px;
            font-family: $font-family-two;
            margin-bottom: 2px;
            border: 1px solid rgb(184, 184, 184);
        }

        ::placeholder {
            color: rgb(153, 153, 153);
            position: relative;
            bottom: 0px;
            font-family: $font-family-two;
        }
    }

    &__input {
        input {
            display: block;
            width: 100%;
            height: 48px;
            color: rgb(153, 153, 153);
            background-color: transparent;
            padding-left: 17px;
            margin-bottom: 10px;
            font-size: 14px;
            font-family: $font-family-two;
            color: grey;
            margin-bottom: 0px;
            border: 1px solid rgb(184, 184, 184);
        }

        ::placeholder {
            color: rgb(153, 153, 153);
            position: relative;
            bottom: 3px;
            font-family: $font-family-two;
        }
    }

    &__input:nth-of-type(1) {
        width: 100%;
        order: 1;
        margin-bottom: 3px;
    }

    &__input:nth-of-type(2) {
        width: 100%;

        @include breakpoint(medium) {
            position: relative;
            width: 49.5%;
            order: 3;
        }
    }

    &__input:nth-of-type(3) {
        width: 100%;

        @include breakpoint(medium) {
            width: 49.5%;
            order: 4;
        }
    }

    &__checkbox {
        margin-bottom: 36px;
        position: relative;

        label {
            font-size: 12px;
            line-height: 1.51;
            font-family: $font-family-two;

            @include breakpoint(medium) {
                font-size: 14px;
                position: relative;
            }
        }
    }


    ////////box-paymanet

    &__box--payment {
        padding-bottom: 54px;
        margin-bottom: 14px;
    }

    &__radio {
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0;
    }

    &__icon {
        background-image: url(~img/around-off.png);
        background-position: 25px 27px;
        background-repeat: no-repeat;
        width: 10%;
    }

    &__tile {
        margin-bottom: 18px;
        position: relative;
        border: 1px solid rgb(227, 227, 227);
        background-color: rgb(251, 251, 251);
    }

    &__tile--active {
        background-color: white;

        .reservation__box-two {
            color: #ec872d;
        }

        .reservation__content h2 {
            color: $background-color;
        }

        .reservation__icon {
            background-image: url(~img/around-on.jpg);
        }

        .reservation__info p {
            color: rgb(126, 92, 31);
        }
    }

    &__tile-top {
        @include breakpoint(medium) {
            margin-bottom: 6px;
            display: flex;
        }
    }

    &__box-one {
        width: 100%;
        padding-left: 20px;

        @include breakpoint(medium) {
            width: 80%;
            padding-left: 0px;
            display: flex;
        }
    }

    &__box-two {
        width: 100%;
        padding-left: 20px;
        padding-top: 20px;

        @include breakpoint(medium) {
            order: 2;
            width: 20%;
            padding-left: 0px;
            text-align: right;
            padding-right: 30px;
            padding-top: 28px;
        }

        p {
            font-size: 14px;
            font-family: $font-family-two;
            margin-bottom: 3px;
            font-weight: 600;

            @include breakpoint(medium) {
                font-size: 18px;
            }
        }

        span {
            font-family: $font-family-two;
            margin-bottom: 3px;
            font-size: 12px;

            @include breakpoint(medium) {
                font-size: 13px;
            }
        }
    }

    &__content {
        padding-top: 29px;
        padding-bottom: 15px;
        width: 90%;


        h2 {
            font-size: 13px;
            color: rgb(121, 121, 121);
            font-weight: 600;
            font-family: $font-family-two;
            letter-spacing: 0.3px;
            margin-bottom: 16px;

            @include breakpoint(medium) {
                font-size: 16px;
            }
        }

        p {
            font-family: $font-family-two;
            font-size: 12px;
            line-height: 1.3;

            @include breakpoint(medium) {
                font-size: 14px;
            }

        }
    }

    &__tile-bottom {
        padding-left: 17px;
        padding-right: 17px;

        @include breakpoint(medium) {
            padding-left: $padding-left +7px;
            padding-right: $padding-right +7px;
        }
    }

    &__info {
        border: 1px solid rgb(221, 194, 172);
        background-color: rgb(250, 238, 228);
        padding-top: 15px;
        padding-bottom: 17px;
        padding-left: 20px;
        font-family: $font-family-two;
        margin-bottom: 30px;


        p {
            font-size: 12px;

            @include breakpoint(medium) {
                color: rgb(80, 78, 78);
                font-size: 14px;
                font-family: $font-family-two;
            }

        }
    }


    ////////box-rodo
    &__box--checkbox {
        padding-top: 17px;
        padding-bottom: 35px;
        margin-bottom: 27px;
    }

    &__checkbox-two {
        margin-bottom: 25px;

        a {
            color: #ec872d;
        }

        label {
            font-size: 12px;
            font-family: $font-family-two;
            position: relative;
            top: 5px;

            @include breakpoint(medium) {
                font-size: 14px;
                line-height: 1.6;
            }
        }
    }

    &__rodo {
        font-size: 12px;
        font-family: $font-family-two;
        line-height: 1.23;

        @include breakpoint(medium) {
            font-size: 13px;
            color: grey;
        }
    }


    ////////box-btns

    &__box--btn {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: transparent;
        border: 2px solid transparent;
        margin-bottom: 29px;
    }

    &__btns {


        display: flex;
        justify-content: space-between;
        height: 100%;

    }

    &__btn {
        border: 1px solid grey;
        background-color: transparent;
        display: flex;
        align-items: center;

        p {
            color: grey;
            font-family: $font-family-two;
            font-size: 10px;
            letter-spacing: 1px;
            width: 80%;
            padding-left: 0px;
            padding-top: 10px;
            padding-right: 0px;
            padding-bottom: 10px;
            font-weight: 600;

            @include breakpoint(medium) {
                font-size: 15px;
                padding-left: 6px;
                padding-top: 19px;
                padding-right: 10px;
                padding-bottom: 22px;
            }

        }
    }

    &__btn--orange {
        border: 1px solid #ec872d;
        background-color: #ec872d;
        display: flex;
        position: relative;

        p {
            position: relative;
            left: 27px;
            padding-right: 10px;
            color: white;
        }

    }

    &__arrow {
        background-image: url(~img/arrow-le.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 80px;
        height: 100%;
    }

    &__submit-btn {
        position: absolute;
        border: 1px solid grey;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &__arrow--orange {
        background-position: 38px center;
        background-image: url(~img/arrow-right-white.png);
        width: 80px;
    }



    ///////col-two
    ///////box--particularly

    &__col-two {
        width: 100%;


        @include breakpoint(large) {
            width: 27.2%;
            order: 2;
        }
    }

    &__box--particularly {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 24px;
        margin-bottom: 20px;
        border-bottom: 2px solid transparent;
        -webkit-box-shadow: 1px 1px 8px -2px rgba(163, 163, 163, 0.71);
        -moz-box-shadow: 1px 1px 8px -2px rgba(163, 163, 163, 0.71);
        box-shadow: 1px 1px 8px -2px rgba(163, 163, 163, 0.71);
    }

    &__particularly-box {
        padding-bottom: 21px;
        border-bottom: 1px solid rgb(227, 227, 227);
        margin-bottom: 10px;

        h2 {
            text-transform: uppercase;
            font-weight: 600;
            color: $background-color;
            font-size: 16px;
            font-family: $font-family-two;
        }
    }

    &__particularly-box--two {
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
        padding-bottom: 18px;
    }

    &__date-box {
        p {
            font-family: $font-family-two;
            font-size: 12px;
            margin-bottom: 10px;
            font-weight: 600;
            color: $background-color;

            @include breakpoint(large) {
                font-size: 14px;
            }
        }

        span {
            font-family: $font-family-two;
            color: $background-color;
            font-size: 12px;

            @include breakpoint(large) {
                font-size: 14px;
            }
        }
    }

    &__date-arrow {
        background-image: url(~img/arrow-r.png);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        top: 0px;
        height: 20px;
        width: 30px;
    }

    &__location {
        padding-top: 7px;

        p {
            font-size: 12px;
            margin-bottom: 6px;
            font-family: $font-family-two;
            font-weight: 600;
            letter-spacing: 0.16px;


            @include breakpoint(large) {
                font-size: 14px;
            }
        }

        span {
            font-family: $font-family-two;
            font-size: 12px;
            line-height: 1.35;

            @include breakpoint(large) {
                font-size: 14px;

            }
        }
    }

    &__person {
        color: grey;
    }

    &__particularly-box--three {
        border-bottom: 1px solid transparent;
        margin-bottom: 0px;
        padding-top: 1px;
    }

    &__particularly-box--five {
        background-color: rgb(250, 251, 254);
        margin-bottom: 0px;
        padding-bottom: 14px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: none;
        @include breakpoint(large) {
            margin-left: -23px;
            margin-right: -23px;
        }
    }

    &__particularly-col-two {
        padding-right: 25px;
        padding-top: 5.5px;
        text-align: right;
    }


    &__particularly-col-one {
        padding-left: 23px;
        padding-top: 5.5px;
    }

    &__sum {
        color: $background-color;
        font-weight: 600;
        font-size: 14px;
        font-family: $font-family-two;
        @include breakpoint(large) {
            font-size: 16px;
            padding-left: 23px;
        }
    }

    &__price {
        color: #ec872d;
        font-weight: 600;
        font-size: 15px;
        font-family: $font-family-two;

        @include breakpoint(large) {
            font-size: 17px;
            padding-right: 23px;
        }
    }

    &__particularly-box--four {
        background-color: rgb(250, 251, 254);
        display: flex;
        margin-left: -23px;
        margin-right: -23px;
        justify-content: space-between;
        padding-bottom: 8px;
        margin-bottom: 0px;
        border-bottom: 1px solid transparent;

        p {
            line-height: 1.8;
            color: $background-color;
            font-family: $font-family-two;
            font-size: 14px;

            @include breakpoint(large) {
                font-size: 14px;
            }
        }
    }

    &__paddle {
        width: 93%;

        @include breakpoint(large) {
            width: 83%;
            margin-left: auto;
            margin-right: auto;
            height: 1px;
            margin-bottom: 18px;
            background-color: 1px solid rgb(227, 227, 227);
        }
    }




    //////box--offer

    &__box--offer {
        display: none;
        padding-bottom: 0px;

        @include breakpoint(large) {
            display: block;
            padding-top: 19px;
            border: 1px solid rgb(210, 213, 229);
            background-color: transparent;
        }
    }

    &__offer-box {
        margin-bottom: 24px;
        border-bottom: 1px solid rgb(210, 213, 229);
        padding-top: 2px;
    }

    &__offer-img {
        background-repeat: no-repeat;
        background-position: 105px 6px;
        height: 45px;
        width: 100%;
        margin-bottom: 18px;

    }

    &__offer-img--one {
        background-image: url(~img/hom.png);
    }

    &__offer-img--two {
        background-image: url(~img/home.png);
    }

    &__offer-img--three {
        background-image: url(~img/ok.png);
    }

    &__offer-text {
        color: $background-color;
        font-weight: 400;
        height: 50%;
        text-align: center;
        font-family: $font-family-two;
        font-size: 14px;
        line-height: 1.25;
        font-weight: 600;
        padding-bottom: 23px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    &__offer-box--last {
        border-bottom: transparent;
        margin-bottom: 9px;
    }
}