input[type=checkbox]+label {
    display: block;
    margin: 0.2em;
    margin-left: 0px;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    content: "\2713";
    border: 1px solid rgb(190, 190, 190);
    display: inline-block;
    width: 1.1em;
    height: 0.2em;
    padding-left: 0.04em;
    text-align: center;
    padding-bottom: 0.9em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    margin-right: 8px;
    line-height: 0.95;
    position: relative;
    bottom: 3px;
}


input[type=checkbox]:before {
    position: relative;
    bottom: 8px;
}


input[type=checkbox]:checked+label:before {
    background-color: rgb(1, 143, 20);
    border-color: rgb(190, 190, 190);
    color: #fff;
}

input[type=checkbox]:disabled+label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled+label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

.a-title {
    font-size: 26px;
    font-weight: 600;
    font-family: $font-family;
    margin-bottom: 28px;
    color: $color;
    line-height: 1.3;

    @include breakpoint(medium) {
        font-size: 30px;
        margin-bottom: 26px;
        line-height: 1;
    }

    @include breakpoint(large) {
        font-size: 36px;
        padding-top: 10px;
        letter-spacing: 0.55px;
        margin-bottom: 77px;
    }
}


.parsley-required:nth-child(1){
    background-color:rgb(212, 0, 0);
    border:1px solid red;
    border-radius: 2px;
    position: relative;
 
    color:white;
    font-family:$font-family-two;
    font-size:13px;
    padding:3px;
}

#parsley-id-multiple-checkbox-2 .parsley-required{
    position: relative;
    bottom:15px;
    color:white;
    font-family:$font-family-two;
    font-size:13px;
    padding:3px;
}

#parsley-id-multiple-checkbox-1 .parsley-required{
    position: relative;
    bottom:10px;
    color:white;
    font-family:$font-family-two;
    font-size:13px;
    padding:3px;
}

.parsley-length{
    font-family:$font-family-two;
    font-size:10px;
    margin-bottom:10px;
    padding-top:10px;
}

.parsley-type{
    font-family:$font-family-two;
    font-size:10px;
    margin-bottom:10px;
    padding-top:10px;
}

