$breakpoints: (
        small: 0,
        small2: 465px,
        medium: 768px,
        large: 1024px,
        xlarge: 1200px,
        xxlarge: 1560px,
        wide: 1800px,
);

$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge xxlarge wide);

// Grid settings
$grid-columns: 12;
$global-width: 1170px;
$grid-container: $global-width;
$debug: false;
$grid-margin-gutters: (
        small: 30px,
        medium: 30px
);

$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: (
        small: 0
);

