html,
body
  text-rendering: optimizeLegibility

  
h1, h2, h3, h4, h5, h6, p, ul, dl, dd, dt
  padding: 0
  margin: 0
  line-height: 1
  
    
ul
  list-style-type: none
  
  
address
  font-style: normal
  
  
a
  text-decoration: none
  
